# Copyright (C) 2025 Advanced Micro Devices, Inc. All rights reserved.
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

# ShellCheck configuration
# https://www.shellcheck.net/wiki/

# Default shell dialect
shell=bash

# Disable specific warnings
# SC1091: Not following sourced files (they may not exist during linting)
# SC2034: Variable appears unused (often used by sourced scripts)
# SC2129: Consider using { cmd1; cmd2; } >> file (style preference)
disable=SC1091,SC2034,SC2129

# Enable optional checks
enable=add-default-case
enable=avoid-nullary-conditions
enable=check-unassigned-uppercase
enable=quote-safe-variables

# External sources (files that are sourced but may not exist)
external-sources=true
